<div class="header">
  
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/#/">IoT Box</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
         <div ng-show="isLoggedIn" class="navbar-form navbar-right">
            <a type="button" href="/#/map" class="btn btn-primary">Map</a>
            <a type="button" href="/#/dashboard" class="btn btn-primary">Dashboard</a>
            <a type="button" href="/logout" class="btn btn-danger">Logout</a>
          </div>
          <form ng-hide="isLoggedIn" class="navbar-form navbar-right" role="form" action="/auth/local" method="post">
            <div class="form-group">
              <input type="text" placeholder="Username/Email" ng-model="identifier"  class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" ng-model="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
            <a type="button" href="/auth/facebook" class="btn btn-primary">Facebook</a>
          </form>

        </div><!--/.navbar-collapse -->
      </div>
    </nav>

</div>

</br>
</br>
    <!-- // <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script> -->

    <div id="map" style="left: 0px; right: 0px; top: 40px; bottom: 0px; position: fixed;"></div>

    <script src="geojson.js" type="text/javascript"></script>

    <script>
    var trackers = [];
    var eFence = [{id: "", latlon:[-24.781225, 26.507041]},{id: "", latlon:[-24.778829, 26.500782]},{id: "", latlon:[-24.776253, 26.494361]},{id: "", latlon:[-24.773320, 26.487114]},{id: "", latlon:[-24.770664, 26.481137]},{id: "", latlon:[-24.770310, 26.474727]},{id: "", latlon:[-24.770030, 26.468176]},{id: "", latlon:[-24.769673, 26.462910]}];
    var map = L.map('map').setView([-24.7599333, 26.5012348], 14);

    var getNodeStatus = function(node,nodes)
    {
        //return "#00ff00";
        for (var i = 0; i < nodes.length; i++) {
            if (node = nodes[i].NI)
            {
                var dateNow = new Date();
                var warn = new Date().setHours(dateNow.getHours() - 2);
                var danger = new Date().setHours(dateNow.getHours() - 24);
                var nodeDate = new Date(nodes[i].updatedAt);
                if (nodeDate > warn)
                  return '#00ff00';
                else if (nodeDate < warn && nodeDate > danger) 
                  return '#ffff00';
                else if (nodeDate < danger)
                  return '#ff0000'; 
            }
        };
        return '#ffffff'
    }    

    var getFenceNodeStatus = function(node)
    {
        return "#FF0000";
    }



        var mapbox = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'mtggroup.mc6d4eca',
            accessToken: 'pk.eyJ1IjoibXRnZ3JvdXAiLCJhIjoiSW0tSERxRSJ9.Xkl41-i5smXUuGk3o3i4FA'
        }).addTo(map);

        function onEachFeature(feature, layer) {
            var popupContent = "";
            if (feature.geometry.type == 'LineString')
            {
                popupContent = "<p>Route</p>";
                if (feature.properties && feature.properties.name) {
                    popupContent += feature.properties.name;
                }
            }
            if (feature.geometry.type == 'Point')
            {
                popupContent = "<p>Point</p>";
                if (feature.properties && feature.properties.name) {
                    popupContent += feature.properties.name;
                }
            }

            layer.bindPopup(popupContent);
        }

        var defaultLayerRoads = L.geoJson(defaultLayerDataRoads, 
        {

            style: function (feature) {
                return {color: "#663300", opacity: 1};
            },

            onEachFeature: onEachFeature

        }).addTo(map);

        var defaultLayerNodes;
        io.socket.get("/node",function(nodes){
            defaultLayerNodes = L.geoJson(defaultLayerDataNodes, 
            {

                style: function (feature) {
                    return feature.properties && feature.properties.style;
                },

                onEachFeature: onEachFeature,

                pointToLayer: function (feature, latlng) {
                    return L.circleMarker(latlng, {
                        radius: 8,
                        fillColor: getNodeStatus(feature.name,nodes),
                        color: "#000",
                        weight: 1,
                        opacity: 1,
                        fillOpacity: 0.8
                    });
                }
            }).addTo(map);

            console.log(nodes);
            eFenceLayers = [];

            eFence.forEach(function(element, index){

                eFenceLayers.push(L.circleMarker(element.latlon, {
                                radius: 8,
                                fillColor: getFenceNodeStatus(element.id),
                                color: "#000",
                                weight: 1,
                                opacity: 1,
                                fillOpacity: 0.8
                            }).bindPopup("<b>Fence Sensor</b><br>" + element.id + "<br>Everything is fine"));
            
            });

            var eFenceLayerGroup = L.layerGroup(eFenceLayers).addTo(map);
            
            var layers = {
                "Roads" : defaultLayerRoads,
                "Nodes" : defaultLayerNodes,
                "Electric Fence" : eFenceLayerGroup
            };
            var maps = {
                "Background" : mapbox
            };
            var control = L.control.layers(maps,layers).addTo(map);
        });
    
    var p = {};
    var points = {};

$(document).ready(function(){

    io.socket.get("/alert",function(all){
        console.log(all);
    });

    io.socket.get("/map",function(all){
        var routes = [];

        all.forEach(function(element, index){
          console.log(element.lat,element.lat,index);

          if (!p[element.tracker])
          {
            points[element.tracker] = [];
            var color = element.tracker.split('').splice(-6).join('');
            p[element.tracker] = L.polyline([], {color: '#'+color,opacity: 1});
            p[element.tracker].bindPopup("<b>" + element.tracker + "</b>");
            p[element.tracker].addTo(map);
            control.addOverlay(p[element.tracker],element.tracker);
          }
          else
            p[element.tracker].addLatLng([element.lat,element.lon]);

        });

        // console.log(routes);
        // p = L.polyline(routes, {color: 'green',opacity: 1});
        // p.addTo(map);
    });


    io.socket.on("map",function(s)
    {
        var color = s.data.tracker.split('').splice(-6).join('');
        console.log(s);
        if (!p[s.data.tracker])
        {
          points[s.data.tracker] = [];
          p[s.data.tracker] = L.polyline([], {color: '#'+color,opacity: 1});
          p[s.data.tracker].addTo(map);
        }
        
        p[s.data.tracker].addLatLng([s.data.lat,s.data.lon]);
        
        var m = L.marker([s.data.lat,s.data.lon],{color: '#'+color,opacity: 1})
        m.bindPopup("<b>" + s.data.tracker + "</b><br>" + s.data.createdAt);
        m.addTo(map);
        points[s.data.tracker].push(m);

        for (var i = 0; i < points[s.data.tracker].length; i++) {
            if (points[s.data.tracker][i].options.opacity > 0)
                points[s.data.tracker][i].setOpacity(points[s.data.tracker][i].options.opacity - 0.1);
        };
        if (points[s.data.tracker].length > 10)
        {
            m = points[s.data.tracker].shift();
            map.removeLayer(m);
            console.log('Removed');
        }    

    });

        // var defaultLayer = L.geoJson(defaultLayerData, {

        //     pointToLayer: function (feature, latlng) {
        //         return L.marker(latlng, {icon: baseballIcon});
        //     },

        //     onEachFeature: onEachFeature
        // }).addTo(map);
});

    </script>

