

<div class="header">
  
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/#/">IoT Box</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
         <div ng-show="isLoggedIn" class="navbar-form navbar-right">
            <a type="button" href="/#/map" class="btn btn-primary">Map</a>
            <a type="button" href="/#/dashboard" class="btn btn-primary">Dashboard</a>
            <a type="button" href="/logout" class="btn btn-danger">Logout</a>
          </div>
          <form ng-hide="isLoggedIn" class="navbar-form navbar-right" role="form" action="/auth/local" method="post">
            <div class="form-group">
              <input type="text" placeholder="Username/Email" ng-model="identifier"  class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" ng-model="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
            <a type="button" href="/auth/facebook" class="btn btn-primary">Facebook</a>
          </form>

        </div><!--/.navbar-collapse -->
      </div>
    </nav>

</div>
	<br/>
	<br/>
	<br/>
<div class="row">
	<!-- <gateways data="user"></gateways> -->
	<div ng-controller="GatewayCtrl">
		<div class="row">
		<gateways data="gateways" fn="setGateway"></gateways>
		<div class="col-md-8 well" style="height: 300px;">
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="" data-target="#summary" aria-controls="summary" role="tab" data-toggle="tab">Summary</a>
					</li>
					<li role="presentation">
						<a href="" data-target="#nodes" aria-controls="nodes" role="tab" data-toggle="tab">Nodes <span class="badge">{{nodes.length}}</span></a>
					</li>
		<!-- 			<li role="presentation disabled">
						<a disabled href="" data-target="#settings" aria-controls="settings" role="tab" data-toggle="tab">Map</a>
					</li> -->
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="summary">
					<gatewaySummary data="gateway"></gatewaySummary>
				</div>
				<div role="tabpanel" class="tab-pane" id="nodes">
					<nodes data="nodes" fn="nodeSet"></nodes>
				</div>
				<!-- <div role="tabpanel" class="tab-pane" id="settings">
				
					<map></map>
				<gatewaySettings data="gateway" fn="saveGateway"></gatewaySettings>
				</div> -->
		</div>
	</div>
</div>
</div>
<div class="row" ng-controller="NodeCtrl" ng-show="node">
<nodeDetails data="node"></nodeDetails>
<div class="col-md-7 well" style="height: 600px;">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="" id="nodeSummaryTab" data-target="#nodeSummary" aria-controls="nodeSummary" role="tab" data-toggle="tab">Node Summary</a></li>
		<li role="presentation"><a href="" ng-click="datapointsGet(node,'',20)" data-target="#datapoints" aria-controls="datapoints" role="tab" data-toggle="tab">Datapoints</a></li>
		<li role="presentation"><a href="" ng-click="datapointsGet(node,'',20)" data-target="#graph" aria-controls="graph" role="tab" data-toggle="tab">Graphs</a></li>
		<!-- <li role="presentation disabled"><a href=""  data-target="#actuators" aria-controls="actuators" role="tab" data-toggle="tab">Actuators</a></li>
		<li role="presentation disabled"><a href=""  data-target="#nodeSettings" aria-controls="nodeSettings" role="tab" data-toggle="tab">Node Settings</a></li> -->
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="nodeSummary"><nodesummary data="node"></nodesummary></div>
		<div role="tabpanel" class="tab-pane" id="datapoints">
			<datapoints node="node" data="datapoints" fn="datapointsGet"></datapoints>
		</div>
		<div role="tabpanel" class="tab-pane" id="graph">
			<graphs node="node" data="datapoints" fn="datapointsGet"></graphs>
		</div>
		<div role="tabpanel" class="tab-pane" id="actuators">
			<actuators data="node" alerts="actuatorAlerts" fn="isActuator" gn="getState" hn="toggleActuator"></actuators>
		</div>
		<div role="tabpanel" class="tab-pane" id="nodeSettings">
			<nodeSettings data="node"></nodeSettings>
		</div>
	</div>
</div>
</div>
</div>
</div>